<div class="col s6">
 <div class="card horizontal #b3e5fc light-blue lighten-4">
   <div class="card-image small" id="imagen">
     <h3 align="center">{{unit.nombre}}</h3>

     <div class="col s12">
       <div class="form-group">
         <div class="col-sm-10">
           {{#if unit.imageUrl}}
             <img id="output" src={{unit.imageUrl}} height="250" width="585" hidden={{shouldHideImage}}>
             {{else}}
              <img src="http://1.bp.blogspot.com/-6EIwFlAHCTM/Uux09lL_RgI/AAAAAAAAApM/k2oDbuOLdI8/s1600/F204.jpg" height="250" width="585">
           {{/if}}
         </div>
       </div>
     </div>

   </div>
   <div class="card-stacked">
     <div class="card-content">
       <table class="bordered">
      <tbody>
        <tr>
          <td><b>Administrador(es):</b></td>
          {{#if unit.admin1Obj.nombre}}
          <td>{{unit.admin1Obj.nombre}}</td>
          {{else}}
          <td>no hay administrador</td>
          {{/if}}


            {{#if unit.admin2Obj.nombre}}
            <td>{{unit.admin2Obj.nombre}}</td>
            {{else}}
            <td>no hay administrador</td>
            {{/if}}
        </tr>
        <tr>
          <td><b>Pais:</b></td>
          <td>{{unit.pais}}</td>
          <td></td>
        </tr>
        <tr>
          <td><b>Estado:</b></td>
          <td>{{unit.estado}}</td>
          <td></td>
        </tr>
        <tr>
          <td><b>Municipio:</b></td>
          <td>{{unit.municipio}}</td>
          <td></td>
        </tr>
        <tr>
          <td><b>Colonia:</b></td>
          <td>{{unit.colonia}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
     </div>
     <div class="card-action">
       <a class="waves-effect waves-light btn #0091ea light-blue accent-4" {{action 'goDetails' unit}}>Detalles</a>
       <a class="waves-effect waves-light btn #0091ea light-blue accent-4" {{action 'edit' unit}}>Editar</a>
       <a class="btn-floating btn-large waves-effect waves-light red" {{action 'borrarUnidad' unit}}><i class="material-icons">delete</i></a>
     </div>
   </div>
 </div>
</div>
