<form class="col s12">
  <div class="row">
    <div class="input-field col s12">
      {{input id="last_name" type="text" class="validate" value=model.nombre}}
      <label for="last_name">Nombre</label>
    </div>
    <div class="input-field col s6">
      {{input id="last_name" type="text" class="validate" value=model.apellidoPaterno}}
      <label for="last_name">Apellido paterno</label>
    </div>
    <div class="input-field col s6">
      {{input id="last_name" type="text" class="validate" value=model.apellidoMaterno}}
      <label for="last_name">Apellido materno</label>
    </div>
    <div class="input-field col s12">
      {{input id="last_name" type="text" class="validate" value=model.direccion}}
      <label for="last_name">Direccion</label>
    </div>
    <div class="input-field col s12">
      {{input id="last_name" type="text" class="validate" value=model.telefono}}
      <label for="last_name">telefono</label>
    </div>
    <div class="input-field col s12">
      {{input id="last_name" type="text" class="validate" value=model.correo}}
      <label for="last_name">correo</label>
    </div>
  </div>
</form>
